/* Margin */

.m_10 {
    margin: 10px;
}

.m_20 {
    margin: 20px;
}

.m_50 {
    margin: 50px;
}

.m_70 {
    margin: 70px;
}

.m_100 {
    margin: 100px;
}

/* Margin y */

.m_y_5 {
    margin-top: 5px;
    margin-bottom:5px;
}
.m_y_10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m_y_15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.m_y_20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m_y_30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.m_y_40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Margin top */
.m_t_0 {
    margin-top: 0;
}

.m_t_10 {
    margin-top: 10;
}

.m_t_20 {
    margin-top: 20;
}

.m_t_30 {
    margin-top: 30;
}

.m_t_100 {
    margin-top: 100;
}

.m_t_200 {
    margin-top: 200;
}

/* Margin right */
.m_e_0 {
    margin-right: 0;
}

.m_e_5 {
    margin-right: 5px;
}