@import '../sass-utils/mixin';
@import '../sass-utils/variables';
@import '../base/flex';
@import '../base/margin';
@import '../base/padding';


li:after,li:hover {
    border-bottom: 4px inset $azurre;
  }

.jumbo {
    background-image: url('../../../../public/images/jumbotron.jpg');
    background-position: center;
    background-size: cover;
}

